# ── Node Backend ──────────────────────────────────────────────
MONGODB_URI=mongodb+srv://USERNAME:PASSWORD@cluster0.xxxxx.mongodb.net/invoicevault
JWT_SECRET=change_this_to_a_random_secret_string_32chars
PORT=3000

# ── Python Parser URL ─────────────────────────────────────────
PYTHON_PARSER_URL=http://localhost:5001
